@import "~bootstrap/scss/bootstrap";

* {
	font-family: Arial;
}

h1 {
	@extend .mt-3, .mb-3;
}

.book-a img {
	&:hover {
		transform: scale(1.025);
		transition: 0.2s;
	}
}

.search-button {
	border-radius: 35px; 
}
